{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <div class="container about-page">
        <h4 class="about-header">Greetings</h4>
        <p>
            Hello, welcome to my tiny program! My name is Tri Huynh. I'm from Japan. I was at the moment taking the CS50 Course (2020) from Harvard University, and I built this silly program to submit as the final project for the course.<br>
            You can reach me via my <a href="https://github.com/trihuynhj" target="_blank">GitHub</a>.
        </p>
        <hr>
        
    </div>
{% endblock %}
