{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <div class="container about-page">
        <h4 class="about-header">Greetings</h4>
        <p>
            Hello, welcome to my tiny program! My name is Tri Huynh. I'm from Japan. I was at the moment taking the CS50 Course (2020) from Harvard University, and I built this silly program to submit as the final project for the course.<br>
            You can reach me via my <a href="https://github.com/trihuynhj" target="_blank">GitHub</a>.
        </p>
        <hr>
        <h4 class="about-header">PicPrankCS50</h4>
        <p>
            PicPrankCS50 is a very rudimentary and tiny web application built with Python (more specifically Flask framework) on the server side, HTML/CSS and some basic JavaScript on the client side. For the image search engine I used <a href="https://serpapi.com/" target="_blank">SerpAPI</a> (the free plan!), and I implemented the email sending function following <a href="https://docs.python.org/3/library/email.examples.html" target="_blank">this documentation</a>. And of course, thank you to CS50 staff for their awesome <a href="https://ide.cs50.io/" target="_blank">IDE</a>'s built-in SQLite!<br>
            Admittedly, I utilized the MVC model and some initialization code from Problem Set 9 (Finance) to quickly get the program started, because I wanted to focus on the implementation of the core idea of the application. I'm not sure if it's against the rules, but I hope not haha (nervous laugh). And I hope you at least have some fun with it!
        </p>
        <hr>
    </div>
{% endblock %}
