{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="container main-page">
        <section class="account">
            <h4><u>ACCOUNT INFORMATION</u></h4>
            <ul class="account-info">
                <li><b>Account ID</b>: {{ user.username }}</li>
                <li><b>Number of searches left</b>: <span style="color:red">{{ user.search_allowed }}</span></li>
            </ul>
        </section>
        
        <div class="separator"></div>

        <section class="history table-responsive">

        </section>
    </div>

{% endblock %}