{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="container main-page">
        <section class="account">
            <h4><u>ACCOUNT INFORMATION</u></h4>
            <ul class="account-info">
                <li><b>Account ID</b>: {{ user.username }}</li>
                <li><b>Number of searches left</b>: <span style="color:red">{{ user.search_allowed }}</span></li>
            </ul>
        </section>
        
        <div class="separator"></div>

        <section class="history table-responsive">
            <h4><u>SEARCH HISTORY</u></h4>
            <table class="table history-table">
                <thead>
                    <th scope="col">No.</th>
                    <th scope="col">Time</th>
                    <th scope="col">Search Keyword</th>
                    <th scope="col">Receiver's Address</th>
                    <th scope="col">Adult Filter</th>
                    <th scope="col">Image</th>
                    <th scope="col">Source URL</th>
                </thead>
            </table>
        </section>
    </div>

{% endblock %}