{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Choose a username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Choose a password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm the password" type="password">
        </div>

        {% if invalid_password == 1 %}

                <div class="small password-check">
                    The password must contain at least 1 number and 1 special character.<br>
                    (Special characters are ! @ # $ % ^ & * ( ) _ +)
                </div>
                <br>
        
        {% elif invalid_password == 2 %}

                <div class="small password-check">
                    The password must contain at least 1 special character.<br>
                    (Special characters are ! @ # $ % ^ & * ( ) _ +)
                </div>
                <br>
        
        {% elif invalid_password == 3 %}

                <div class="small password-check">
                    The password must contain at least 1 special symbol.
                </div>
                <br>
        
        {% elif invalid_password == 4 %}

                <div class="small password-check">
                    The password must have a minimum length of 16 characters.
                </div>
                <br>
        
        {% else %}

                <div class="container small password-note">
                    <u>Note</u>: Your password must have a minimum length of 16 characters and contain at least 1 number and 1 special character.
                </div>
                <br>
        
        {% endif %}
        
        <button class="btn btn-primary" type="submit">Register</button>
        
    </form>

{% endblock %}
