{% extends "layout.html" %}

{% block title %}
    Play
{% endblock %}

{% block main %}

    <div class="container">
        <p id="message">Congratulations! You have successfully sent out the following image to <a href="#" style="color:blue">{{ receiver_email }}</span></a>:</p>
        <div>
            <img alt="{{ response.title }}" src="{{ response.original }}" onerror="imgError(this)">
        </div>
        <br>
        <form action="/success" method="post">
            <button class="btn btn-primary" type="submit">Try A Different Keyword</button>
        </form>
    </div>

{% endblock %}