nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .color {
    color: #ea433b;
}

nav .navbar-brand .color:hover {
    color: #5bb4f5;
}